laminas-studio 2/n8n-actualizar-contenido.json
{
  "name": "Actualizar Contenido - Láminas Studio",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "actualizar-contenido",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "actualizar-contenido"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "ID",
              "value": "={{ $json.body.id }}",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "usuario",
              "value": "={{ $json.body.usuario }}",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "Título",
              "value": "={{ $json.body.titulo }}",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "Post X",
              "value": "={{ $json.body.post_x }}",
              "type": "string"
            },
            {
              "id": "f5",
              "name": "Hashtag",
              "value": "={{ $json.body.hashtags }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Set Datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "TU_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Título": "={{ $json['Título'] }}",
            "Post X": "={{ $json['Post X'] }}",
            "Hashtag": "={{ $json['Hashtag'] }}"
          },
          "matchingColumns": ["ID"],
          "schema": []
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Google Sheets - Actualizar",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Contenido actualizado correctamente\" }",
        "options": {}
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Set Datos", "type": "main", "index": 0 }]
      ]
    },
    "Set Datos": {
      "main": [
        [{ "node": "Google Sheets - Actualizar", "type": "main", "index": 0 }]
      ]
    },
    "Google Sheets - Actualizar": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "versionId": "1"
}
